<h1 align="center">Welcome to the Betastore!</h1>
<!--  <h1 align = "center"><img class="displayed" src="http://whatweekly.com/wp-content/uploads/2012/08/betamorelogo.jpg" /> -->

 <!--   <h1><h1 align = "center"><%= @page_title %></h1> -->
      <h1 align="center">Take a look at our Betamore Bling!</h1>

    <section>

        <% @products.each do |product| %>
            <article>
                <%= image_tag product.image_url %>
                <h2><%= link_to product_title(product).html_safe, product_path(product) %></h2>
                <p>
                  <%= number_to_currency product.price %>
                  Added <%= time_ago_in_words product.created_at %> ago
                </p>
                <p>
                  <%= button_to "Add To Cart", add_to_cart_path(product), class: 'btn btn-primary">Primary</button>' %>
                </p>
            </article>
        <% end %>
     </section>


   <!-- <table>
      <tr>
        <td><img src="http://bit.ly/15Gk0by" height = 350 width = 350/></td>
        <td><img src="http://bit.ly/18li4sl" height = 350 width = 350/></td>
        <td><img src="http://bit.ly/1dSwuSK" height = 350 width = 350/></td>
      </tr>
      <tr>
        <div class="First_Row_Items">
          <tr align = "center" />
          <td><font size="5"><a class="link" href="http://betamore.com/betastore"><strong>Hat</strong></a></td>
          <td><font size="5"><a class="link" href="http://betamore.com/betastore"><strong>Hoodie</strong></a></td>
          <td><font size="5"><a class="link" href="http://betamore.com/betastore"><strong>iPhone Case</strong></a></th>
      </tr>
      </div>
      <tr>
        <td><img src="http://bit.ly/19R2Vy1" height = 350 width = 350/></td>
        <td><img src="http://bit.ly/16azzfg" height = 350 width = 350/></td>
        <td><img src="http://bit.ly/18lieja" height = 350 width = 350/></td>
      </tr>
      <div class="Second_Row_Items">
        <tr align = "center" />
        <td><font size="5"><a class="link" href="http://betamore.com/betastore">Journal</a></td>
        <td><font size="5"><a class="link" href="http://betamore.com/betastore">T-Shirt</a></td>
        <td><font size="5"><a class="link" href="http://betamore.com/betastore">Bumper Sticker</a></th>
      </div>
      </tr>
    </table>
</body>
</html>  -->